.main-div {
    display:  grid;
    grid-template-columns: 1.5fr 1fr;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 900px;

}


@media (max-width: 750px) {
  .product-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

}
